.link {
  fill: steelblue;
  stroke: lightgray;
  stroke-width: 2px;
}

.node circle {
  stroke: solid black 1px;
}
 
.node text {
  pointer-events: none;
  font: 14px sans-serif;
  color: blue;
}

.infobox {
        position: absolute;
        width: 200px;
        padding: 10px;
        background-color: rgba(255,255,255,.75);
}